<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs%>
</head>
  <body>
    

    <!-- LIQUIFY LOGO -->
    <div class="container" id="top-margin">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="text-center">
            <img id="logo" src="images/blue_logo.png" class="img-fluid" alt="Responsive image">
            <h1 class="login">Liquify</h1>
          </div>
        </div>
      </div>
    </div>

    </div><!-- /.container -->
    <% include templates/footer.ejs%>
  </body>
</html>
