<!Doctype html>
<html>
  <head>
    <title>Thirst Keeper</title>
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
        appId: "27089081-c27e-454a-a2e0-975db773550d",
        autoRegister: false,
        notifyButton: {
          enable: true /* Set to false to hide */
        }
      }]);
    </script>
  </head>
  <body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
    <script>
      var socket = io.connect('');
      socket.on('connection', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
      });
    </script>

    <h1>Hello World?</1>
  </body>
</html>
