<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/7be5d1241c.js"></script>
  </head>
  <body>
    <h1>{{title}}</h1>
    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  </body>
</html>
