<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs%>
</head>
  <body>
    <% include templates/header.ejs%>
    <!-- THIRST KEEPER LOGO -->
    <div class="container" id="today">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="text-center">

      <img id="logo" src="images/blue_logo.png" class="img-fluid" alt="Responsive image">
      <h1>Liquify</h1>


      <!-- LOGIN FORM -->
      <form action="/login" method="post">
        <div>
          <label>Email</label>
          <br />
          <input type="text"  name="email">
        </div>
        <div>
          <label>Password</label>
          <br />
          <input type="password" name="password">
        </div>
        <button type="submit">Login</button>
      </form>
            </div>
        </div>
      </div>
    </div>

    </div><!-- /.container -->
    <% include templates/footer.ejs%>
  </body>
</html>
