<!DOCTYPE html>
<html lang="en">
  <head>
    <% include templates/head.ejs%>
    <title>Liquify</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  </head>
  <body>
    <% include templates/header.ejs%>
    <div class="container">
    <div class="row" id="top-margin">
      <div class="col-md-10 col-md-offset-1">

    <!--<div id="chartContainer" style="height: 300px; width: 100%;"></div>-->
    <div class="chartcontainer">
      <h1 class="status text-center">Weekly Report</h1>
      <div>
        <canvas id="myChart"></canvas>

      </div>
    </div>

</div>
<button class="btn btn-danger" style="position:absolute; right:1em; bottom:1em;">Remind Me to drink water!</button>
    <% include templates/footer.ejs%>
    </div>
  </div>
    <script>
    var d;
    $(document).ready(function(){

      (function(){
        var offset = moment().utcOffset();
        var api_url = '/api/synctime:'+offset;
           axios.put(api_url)
              .then(function (response) {
                console.log(response.data);

               })
               .catch(function (error) {
                 console.error(error);
               });
           })();

      var initData = JSON.parse('<%-JSON.stringify(data)%>');
      d = initData;
      var xdata = [initData[6][0],initData[5][0],initData[4][0],initData[3][0],initData[2][0],initData[1][0],initData[0][0]];
      var ydata = [initData[6][1],initData[5][1],initData[4][1],initData[3][1],initData[2][1],initData[1][1],initData[0][1]];
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: xdata,
          //labels: ["1","2","3","4"],
          datasets: [{
            label: 'Number of Cup',
            data: ydata,
            //data: [1,2,3,4],
            backgroundColor: "rgba(92,226,237,0.6)"
          }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    },
                    gridLines: {
                      display: false,
                      color: "white"
                    }
                }],
                xAxes: [{
                    gridLines: {
                      display: false,
                      color: "white"
                    }
                }],

            }
        }
      });

        Chart.defaults.global.defaultFontColor = 'white';
    });
    </script>
  </body>
</html>
