
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{data.value}}
      {{data.date}}
      <h1 class="text-center"> Log Your Water </h1>
      <div class="text-center">
        <img src="images/water-drop.png" alt="water-drop" /> <span class="glyphicon glyphicon-plus"></span>


        <p> <i class="fa fa-tint fa-5x" aria-hidden="true"></i>
            <i class="fa fa-tint fa-5x" aria-hidden="true"></i>
            <i class="fa fa-tint fa-5x" aria-hidden="true"></i>
            <i class="fa fa-tint fa-5x" aria-hidden="true"></i>
            <i class="fa fa-tint fa-5x" aria-hidden="true"></i>
            <i class="fa fa-tint fa-5x" aria-hidden="true"></i>
            <i class="fa fa-tint fa-5x" aria-hidden="true"></i>
            <i class="fa fa-tint fa-5x"  style="color:grey" aria-hidden="true"></i></p>

      </div>
    </div>
  </div>
<div>
