<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs%>
</head>
  <body>
  <% include templates/header.ejs%>
    <div id="today">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center"> Track your <br /> water intake </h1>
            <div class="text-center">

              <!-- //progress circle  -->
              <div id="circle"></div>

              <span class="glyphicon glyphicon-plus plus-button"></span>
              <section class="data">
                  <div class="row">
                    <div class=" percent col-xs-6" style:"color:white">
                      100%
                    </div>
                    <div class="cups col-xs-6">
                      8 CUPS
                    </div>
                  </div>
              </section>

              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    <% include templates/footer.ejs%>
    <script>

    </script>
  </body>
</html>
