<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs%>
</head>
  <body>
  <% include templates/header.ejs%>
    <div id="today">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center"> Log Your Water </h1>
            <div class="text-center">


              <span class="glyphicon glyphicon-plus plus-button"></span>

              <!-- //progress circle  -->
              <section class="progress">
                <div class="progress-radial progress-45 setsize">
                  <div class="overlay setsize">
                    <p></p>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </div>
      </div>
    </div>
    <% include templates/footer.ejs%>
    <script>

    </script>
  </body>
</html>
