/* Insert CSS Here */

body {

  background-color: #35353f;
}
.navbar-custom{
  height: 50px;
  color: white;

  background-color: transparent;
}

label, h1{
  color : white;

}

input {
  margin-bottom: 1em;
}

.brand{
  color: #2196F3;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 25px;
}
a{
  color:#2196F3;
  font-size:20px;
  margin-right: 10px;
}
#today{
  margin-top: 5em;
}


#logo{
  max-width: 15em;
}
