  /*GENERAL*/

body {
  background-color: #35353f;
  font-family: 'Oswald', sans-serif;
  background-color: #35353f;
}

#top-margin{
  margin-top: 3em;
}
#margin2{
  margin-top: 10em;
}
#margin3{
  margin-top: 2em;
}



/*HOME PAGE*/
h1.home{
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 2em;
  line-height: 150%;
  color: black;
}
span.big{
  font-size: 3em;
  font-weight: 900;
}
span.blue {
  color: #5eaaaf;
  font-weight: bold;
}
h2.home {
  color: #5eaaaf;
}

.test2 {
  margin: 0 auto;
  border: #333;
}

.round {
  border-radius: 24px;
  border: 2px solid black;
  background-color: transparent;
  width: 10%;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

.roundsign{
  border-radius: 25px;
  background-color: #1D4765;
  color: white;
  width: 35%;
  font-size: 2em;
}
.roundsign:hover, .roundsign:focus{
  background-color: white;
  border: 2px solid #1D4765;
  color: #1D4765;
}
.btn.outline{
  background: transparent;
  padding: 1%;
  border: 2px solid #333;
}

/*video-background*/

.video-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: url(overlays/02.png) center center;
  opacity: .2;
}

.fullscreen-bg{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: hidden;
z-index: -100;
}

.fullscreen-bg__video{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: fill;
}



  /*LOGIN/SIGNUP FORM*/

#logo{
  max-width: 15em;
}

h1.login, h1.signup {
  color : white;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 2.5em;
  line-height: 125%;
}

label{
  color : white;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 1em;
  line-height: 125%;
  text-align: left;
}

input {
  margin-bottom: 1em;
}

.btn {
  text-transform: uppercase;
  margin-bottom: 1em;
}

a.to-signup{
  style:none;
  color: #5ce2ed;
  text-transform: capitalize;
}

label.error {
    color:#D46A6A;
    display: block;
    width: 100%;
    text-align: center;
}

/*NAVAGATION BAR*/
.navbar-custom{
height: 50px;
color: white;
background-color: transparent;
text-decoration: none;
border: none;
}
.nav>li>a:focus, .nav>li>a:hover {
text-decoration: none;
background-color: transparent;
}

#navbar-collapse {
box-shadow: none;
}

.brand{
color: white;
margin-top: 8px;
margin-left: 10px;
font-size: 25px;
text-transform: uppercase;
outline:none;
}

nav a{
color:white;
font-size:20px;
margin-right: 10px;
text-transform: uppercase;
}

a:focus, a:hover{
color: white;
text-decoration: none;
}
.navbar .active > a {
  color: #5ce2ed;
  text-decoration: none;
}


  /*TODAY PAGE*/
  h1.today {
    color : white;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 1.5em;
  }

  span.date {
    color: #5ce2ed;
    font-size: .7em;
  }

.container {
  margin-bottom: .5em;
  justify-content: center;
}


  /*circle progress bar*/
#circle {
  margin: 1em auto;
  width: 15em;
  height: 15em;
  position: relative;
}

.eightoz {
  color: #5ce2ed;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  transform: scale(.7);
}

span {
  color: white;
  font-size: 2em;
}



/*STATUS PAGE*/
h1.status {
  color : white;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 2.5em;
  line-height: 125%;
  margin-bottom:1em;
}

h3 {
  text-indent: 20%;
  font-style: italic;
  font-weight: 500;
}

.progressbar-text{
  font-size: 5em !important;
}

.progressbar-text:hover{
  cursor: pointer;
}



/*MEDIA QUERY*/
@media (max-width: 600px){
  .round{width:25%;}
  .roundsign{width:45%;margin-top:1em;}
  #top-margin{margin-top: 1em;}
  #margin2{margin-top: 5em;}
  #margin3{margin-top: 1em;}
  .fullscreen-bg__video{display:none;}
  .fullscreen-bg{background-image: url("images/bg.png");}
  #logo{width:13em; margin-top:1em;}
}
