/* Insert CSS Here */

body {
  background-color: #ECECEC;
}
.navbar-custom{
  height: 50px;
  color: white;
  background-color: black;
}
.brand{
  color: white;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 25px;
}
a{
  color:white;
  font-size:20px;
  margin-right: 10px;
}
#today{
  margin-top: 5em;
}
/*LOGIN LOGO*/
#logo {
height: auto;
width: 250px;
}

.date {
  font-weight: bold;
}
